
body {
    font-family: "Inter", sans-serif;
    background-image: url(/src/imgs/wallpaperbetter\ 2.png);
    background-size: cover;
    overflow: hidden;
}

.container {
    margin: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;  
}

.card-down {
    position: absolute;
    border-radius: 10px;
    width: 22%;
    height: 38px;
    top: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-down img {
    margin: 10px;
    background: rgba(13, 20, 30, 0.50);   
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
}

.card-down img.active {
    background-color: white;
    content: url("/src/icons/keyboard-b.svg");
}

.card-down img.active2 {
    background-color: white;
    content: url("/src/icons/rain-b.svg");
}

.card-down img.active3 {
    background-color: white;
    content: url("/src/icons/music-b.svg");
}

#icon-k {
    padding-top: 14px;
    padding-bottom: 14px;
}

.menu {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 10px;
    background: rgba(13, 20, 30, 0.50);   
    border: 1px solid #ccc;
    padding: 10px;
    height: 200px;
    width: 400px;
}

.menu.white-bg {
    background: #fff;
}

#timer {
    color: white;
    font-size: 100px;
}

.buttons-t {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pomodoro-btn, .pequena-pausa-btn, .pausa-longa-btn {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: 1000;
}

#youtube-audio {
    position: absolute;
    top: 65%;
    opacity: 0.1;
    transition: opacity 0.3s;
}

#youtube-audio:hover {
    opacity: 1;
}

button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

.buttons-pr {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.start-btn {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: 1000;
}

.selected {
    background-color: white;
    color: black;
}

.not-selected {
    background-color: transparent;
    color: white;
}
